html {
    color: var(--dark-primary);
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: var(--light-primary);
}

/* Font families */

/* Font weights : 100 : thin | 300 : light | 400 : regular | 500 : medium | 700 : bold | 900 : black */

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: var(--h1-fs);
    font-weight: 900;
}

h2 {
    font-size: var(--h2-fs);
    font-weight: 700;
}

h3 {
    font-size: var(--h3-fs);
    font-weight: 500;
}

h4 {
    font-size: var(--sm-fs);
    font-weight: 500;
    text-transform: uppercase;
}

h5 {
    font-size: var(--xs-fs);
    font-weight: 900;
    color: white;
}

p {
    font-size: var(--p-fs);
    font-weight: 400;
}

small {
    font-size: var(--sm-fs);
    font-weight: 300;
}

.container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.rounded {
    border-radius: 20px!important;
}

.rounded-top {
    border-top-left-radius: 20px!important;
    border-top-right-radius: 20px!important;
}

.rounded-bottom {
    border-bottom-left-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
}

.h-100 {
    height: 100%;
}

/* Desktop design */
@media screen and (min-width: 768px) {
    body {
        min-width: 100vw;
        min-height: 100vh;
    }

    .gradient-background {
        background-color: var(--red-primary);
        background: linear-gradient(90deg, rgb(var(--gradient-orange)) 0%, rgb(var(--gradient-red)) 100%);
        box-shadow: inset 82.1333px -82.1333px 82.1333px rgba(166, 53, 20, 0.194), inset -82.1333px 82.1333px 82.1333px rgba(255, 255, 255, 0.194);
    }

    .container {
        margin: 0px;
        max-width: 10000px;
    }

    .box {
        padding: 25px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.25);
    }

}