.region-container, .region {
    height: 150px;
}

.region {
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--dark-secondary);
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.region>img {
    height: 150px;
    width: auto;
}

.region>.card-text {
    position: absolute;
    bottom: 0;
    background-color: whitesmoke;
    width: inherit;
    border-radius: 15px;
    padding:12px;
    width: 100%;
}

.region>.card-text>h4 {
    margin: 0;
    text-align: center;
}

/* Region views */

@media screen and (min-width: 768px) {
    #regions-index>#vue-app, #regions-index>#vue-app>.row {
        height: 100%;
    }

    .region-container {
        height: 48%;
        margin-bottom: 2%;
    } 
    
    .region {
        height: 100%;
    }

    #regions-index-title {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    #regions-index {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: -1;
    }

    #region-name {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: -1;
    }

    #region-most-played {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        z-index: 100;
    }

    #region-recently-added {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 6;
    }

    #region-scoreboard {
        grid-column-start: 5;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 6;
    }

    #region-all-quizzes {

    }

    #regional-scores-title {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
    }

    #regional-scores {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 6;
    }
}