/* Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/* Global CSS variables */
:root {
    /* Colors */
    --dark-primary : #333333;
    --dark-secondary : #787878;

    --red-primary : #b82133;
    --red-secondary : #BF4452;

    --orange-primary : #FF6100;
    --orange-secondary : #FF9554;

    --light-primary : #f0f0f0; 
    --light-secondary : #d9d9d9;

    --gradient-orange : 255, 97, 0;
    --gradient-red : 184, 33, 51;

    /* Font-sizes */
    --h1-fs : 32px;
    --h2-fs : 24px;
    --h3-fs : 20px;
    --p-fs : 18px;
    --sm-fs : 14px;
    --xs-fs : 12px;
}

@media screen and (min-width: 768px) {
    :root {
        /* Font-sizes */
        --h1-fs : 50px;
        --h2-fs : 28px;
        --h3-fs : 20px;
        --p-fs : 18px;
        --sm-fs : 16px;
        --xs-fs : 13px;
    }
}