/* Text Links */
a {
    font-size: var(--sm-fs);
    font-weight: 300;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: var(--red-primary);
}

/* Buttons */
.btn {
    font-weight: 700;
    font-size: var(--p-fs);
    line-height: var(--p-fs);
    width: 100%;
    padding: 16px 50px;
    border: none; 
    border-radius: 25px;
    margin-top: 10px;
} 

.btn-gradient {
    color: var(--light-primary);
    background: var(--orange-primary);
    background-color: var(--orange-primary);
    background: linear-gradient(90deg, rgb(var(--gradient-orange)) 0%, rgb(var(--gradient-red)) 100%);
}

.btn-gradient:focus, .btn-gradient:hover, .btn-gradient:active,
.btn-border:focus, .btn-border:hover, .btn-border:active {
    color: var(--light-primary);
    box-shadow: 0 0 0 0.2rem rgba(var(--gradient-red), 0.5);
    background-color: var(--red-primary);
    border-color: var(--red-primary);
}

.btn-border {
    background-color: transparent;
    border: 1px solid var(--red-primary);
    color: var(--dark-primary);
}

/* Inputs */
input[type=text], input[type=password], input[type=email] {
    display:inline-block;
    width: 100%;
    background: white;
    border: none;
    border-radius: 0;
    border-bottom : 1px solid var(--red-primary);
    font-size: var(--p-fs);
    padding: 10px 0px;
}

/* Horizontal slider */
.horizontal-slider-container {
    margin-right: -15px;
}
.horizontal-slider {
    overflow: scroll;
    white-space: nowrap;
}

.horizontal-slider>.quiz { 
    display: inline-block;
}

.horizontal-slider>.quiz-3x { 
    width: 30.333333%;
    margin-right: 3%;
}

.horizontal-slider>.quiz-2-5x { 
    width: 40%;
    margin-right: 3%;
}


.horizontal-slider>.quiz:last-of-type { 
    margin-right: 0px;
}

.horizontal-slider>.quiz>.quiz-thumb{
    height: 170px;
    width: 100%; 

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;

    border-radius: 10px;

    /* Blur effect 
    filter: blur(2px);
    -webkit-filter: blur(2px);*/
}

.horizontal-slider>.quiz>.quiz-thumb>h5{
    white-space: break-spaces;
    padding: 10px;
    margin: 0;
}

.horizontal-slider>.quiz>.label {
    text-align: center;
    padding-top: 5px;
}
